Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57260/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57260/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57260/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorization_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_AvailabilityLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityLogin" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_AvailabilityLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_ServerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerStatus" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_ServerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAuthorization_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorization">
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorization/Authorization" message="tns:IAuthorization_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorization/AuthorizationResponse" message="tns:IAuthorization_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailabilityLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorization/AvailabilityLogin" message="tns:IAuthorization_AvailabilityLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorization/AvailabilityLoginResponse" message="tns:IAuthorization_AvailabilityLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorization/ServerStatus" message="tns:IAuthorization_ServerStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorization/ServerStatusResponse" message="tns:IAuthorization_ServerStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorization/GetDataUsingDataContract" message="tns:IAuthorization_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorization/GetDataUsingDataContractResponse" message="tns:IAuthorization_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorization" type="tns:IAuthorization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IAuthorization/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailabilityLogin">
      <soap:operation soapAction="http://tempuri.org/IAuthorization/AvailabilityLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <soap:operation soapAction="http://tempuri.org/IAuthorization/ServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAuthorization/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IAuthorization" binding="tns:BasicHttpBinding_IAuthorization">
      <soap:address location="http://localhost:57260/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>